@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;900&display=swap');


*{
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/*HEADEEEER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    color: #232851;
    font-weight: 500;
}

header button, .texto_portada button, .botonmore {
    background-color: #8B48BF;
    border: none;
    height: 44px;
    width: 134px;
    border-radius: 20px;
    color: white;
}

.hamburguesa {
    width: 20px;
    height: 20px;
    display: none;
}

/*PORTADAAA */

.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 100px;
}


.texto_portada {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 459px;
    align-items: end;
}

.texto_portada h2 {
    font-weight:600;
    font-size:50px;
    text-align: end;
}

.texto_portada p {
    font-weight: 600;
    text-align: end;
}

/*SECCION BANNER MORADO1*/

.descripcion_titulo {
    background-color: #8B48BF;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px;
}

.descripcion_titulo h3 {
    font-weight: 500;
    font-size:36px;
    width: 450px;
}

.descripcion_titulo p {
    width: 450px;
}


/*SECCION CARACTERISTICAS */

.caracteristicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;
    gap: 2rem;
    padding-bottom: 50px;
}

.recuadro_caracteristicas {
    width: 560px;
    height: 162px;
    position: relative;
    top:50px
}

.titulo_recuadro {
    display: flex;
    align-items: center;
    border-radius: 50px 0 0 50px;
}

.numero {
    background-color: #8B48BF;
    width: 70px;
    height: 43px;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.titulo_recuadro h6 {
    color: #323851;
    margin-left: 30px;
}

.recuadro_caracteristicas p {
    padding: 10px;
    position:relative;
    left: 93px;
    color: #B3B2B7;
    max-width: 85%;
}

/*SECCION DE TARJETAS */

.lo_mejor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.lo_mejor h3 {
    font-weight:bold;
    font-size: 40px;
    color: #232851;
    padding: 3em;
}

.las_tarjetas {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta, .tarjetad  {
    width: 445px;
    height: 254px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.tarjeta img, .tarjetad img {
    position: relative;
    top: -35px
}

.tarjeta div, .tarjetad div {
    color: #232851;
    font-weight: bold;
    padding-bottom:2rem;
}

.tarjeta p, .tarjetad p {
    color: #B3B2B7;
    text-align: center;
}

/*SEGUNDO BANNER MORADO2*/

.boton_goforit {
    background-color: #8B48BF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    padding: 50px;
}

.boton_goforit h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 393px;
    position: relative;
}
.botongo {
    background-color: white;
    border: none;
    height: 44px;
    width: 134px;
    border-radius: 20px;
    color: #8B48BF;
}

/*FOOOTER */

footer {
    background-color: #1E1E26;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13%;
    flex-wrap: wrap;
    padding: 50px;
}

.logo_iconos, .formulario {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    gap: 80px;
}

.enlaces {
    display: flex;
    gap: 150px;
}

.menu_footer {
    display: flex;
    flex-direction: column;
    height: 65%;
}

.menu_footer a {
    text-decoration: none;
    color: white;
    list-style:none;
    padding: 30px;
}

.formulario button {
    background-color: #8B48BF;
    border: none;
    height: 44px;
    width: 63px;
    border-radius: 20px;
    color: white;
}

.formulario input {
    background-color: white;
    border: none;
    height: 44px;
    width: 201px;
    border-radius: 20px;
    color: #8B48BF;
    font-weight: 700;
    font-size: 13px;
    color: #B3B2B7;
}

.formulario div {
    color: #8C8C94;
    font-size: 12.5px;
}

/*MEDIA QUERIES*/

@media (max-width:500px) {
    .portada {
        display: flex;
        flex-wrap: wrap;
    }

    .portada img {
        max-width: 400px;
        margin-bottom: 40px;
    }

    .menu, header button {
        display: none;
    }

    .hamburguesa {
        display: flex;
    }

    .descripcion_titulo, .boton_goforit {
        flex-direction: column;
        background-color: #3CDDF3;
        gap: 3rem;
    }

    .boton_goforit button {
        background-color: #232851;
        color: white;
    }

    .caracteristicas {
        background-color: white;
    }

    .titulo_recuadro {
        background-color: rgba(139,72,191,30%);
        position: relative;
        margin-left: 20px;
        right: 0px;
    }

  
    .recuadro_caracteristicas p {
        position: relative;
        left: 20px;
    }

    .tarjetad {
        display: none;
    }
}